@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');



*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    color: white;
    list-style-type: none;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
body{
    background-color: black;
    overflow-x: hidden;
}

a:hover{ 
    text-shadow: 0px 0px 16px rgb(255, 255, 255);  
}

h1 { 
    color: #ffffff;
    font-family: 'Raleway',sans-serif; 
    font-size: 32px;
    font-weight: 800;
    line-height: 72px;
    text-transform: uppercase;
 }
h2 { 
    color: #ffffff;
    font-family: 'Raleway',sans-serif;
    font-size: 15px;
    font-weight: 800; 
    line-height: 36px; 
}
p { 
    color: #f8f8f8; 
    font-family: 'Raleway',sans-serif; 
    font-size: 18px; 
    font-weight: 500; 
    line-height: 32px; 
    margin: 0 0 24px; 
}
.CustomeBtn{
    background: none;
    height: 66px;
    width: 120px;
    font-size: large;
    border: 1px solid rgb(255, 255, 255);
}
.CustomeBtn:hover{
    box-shadow: 1px 1px 16px rgb(255, 255, 255);
}
.CustomeBtn:active{
    box-shadow: 1px 1px 16px rgb(255, 255, 255);
    background: white;
    color: black;
}
.SvgSize{
    height: 520px;
    width: 520px;
}
#WelcomeVideo{
    object-fit: cover;
    width: 100%;
    height: 100vh;
}
#NavigationBar{
    position: absolute;
    top: 3%;
    left: 3%;
    display: flex;
    justify-content: space-between;
    width: 90%;
    z-index: 100;
    position: fixed;
}
#NevIcons{
    width: 90px;
    height: 90px;
    font-size: small;
}
#RightNev{
    width: 50%;
}
#linksContaner{
    display: flex;
    flex-direction: row-reverse;
}
#linksContaner li{
    padding: 2%;
    font-size: 28px;
}

#WelcomeText{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Influence{
    height: 110vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(to right, rgb(255, 0, 200), rgb(68, 0, 255));
}

#IdeaSvg{
    position: relative;
    height: 620px;
    width: 620px;
}

#InfluencePara{
    width: 50%;
}

#Secondscroll{
    height: 110vh;
    background-image: linear-gradient(to right, rgb(255, 0, 0),rgb(255, 0, 170));
    display: flex;
    align-items: center;
}

#Secondscroll_svg{
    width: 620px;
    height: 320px;
}
#Skils{
    height: 100vh;
    background-image: linear-gradient(to left,rgb(51, 255, 0),rgb(255, 230, 0));
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#groupSVG{
    height: 220px;
    width: 220px;
}



#Startup{
    height: 100vh;
    background-image: linear-gradient(to right, rgb(0, 255, 213),rgb(17, 0, 255));
    display: flex;
    align-items: center;
    justify-content: space-around;
}


#Contact_form{
    /* background-image: linear-gradient(to left, rgb(162, 0, 255),rgb(255, 0, 234)); */
    background-color: #ffffff;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
#ContactDetale{
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35%;
    height: 450px;
    padding: 2%;
    border-radius: 30px;
    box-shadow: 5px 5px rgb(0, 0, 0);

}
#ContactDetale input{
    background: none;
    border: none;
    outline: none;
    color: black;
    border-bottom: 2px solid #000;
    padding: 2%;
    font-size: large;
    /* font-family: 'Ranchers', cursive; */
}
#ContactDetale textarea{
    background: none;
    border: 2px solid black;
    padding: 2%;
    /* font-family: 'Ranchers', cursive; */
    resize: none;
    outline: none;
    font-size: large;
}

/* #ContactDetale textarea::placeholder{

    color: #000;
}

#ContactDetale input::placeholder{
    color: #000;
    font-size: large;
}    */
#submitBtn{
    width: 20%;
    height: 40px;
    background: none;
    color: #000;
    margin-top: 2%;
    border-radius: 30px;
    border: 3px solid black;
    box-shadow: 5px 5px black;
    outline: none;
}
#submitBtn:hover{
    box-shadow: -5px -5px black;
    transition: 0.5s;
}
#submitBtn:active{
    background-color: #000;
    color: white;
    transition: 0s;
    box-shadow: none;
}

#ContactHeding h1,#ContactHeding p{
    color: black;
}

@media only screen and (max-width: 1116px){
    #linksContaner li{
        font-size: 18px;
    }
}

@media only screen and (max-width: 425px){
    *{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .SvgSize{
        width: 250px;
        height: 250px;
    }
    h1 { 
        color: #ffffff;
        font-family: 'Raleway',sans-serif; 
        font-size: 16px;
        font-weight: 400;
        line-height: 31px;
        text-transform: uppercase;
     }
    h2 { 
        color: #ffffff;
        font-family: 'Raleway',sans-serif;
        font-size: 7px;
        font-weight: 400; 
        line-height: 12px; 
    }
    p { 
        color: #f8f8f8; 
        font-family: 'Raleway',sans-serif; 
        font-size: 18px; 
        font-weight: 100; 
        line-height: 17px; 
        margin: 0 0 24px; 
    }

    #NavigationBar{
        display: flex;
        flex-direction: row;
    }
    #linksContaner li{
        font-size: 10px;
        border: 1px solid white;
    }

}